<div
  id="<%= dom_id(list) %>_header"
  data-reorder-path="<%= reorder_board_list_path(list.board, list) %>"
  data-lists-target="list"
  class="flex shrink-0 flex-col gap-6 basis-[280px]">
  <div
    class="list-header flex items-center gap-3 hover:cursor-grab"
  >
    <div
      class="h-4 w-4 rounded-full bg-main-purple"
      style="background-color: <%= list.color_code %>"
    ></div>
    <h3 class="uppercase text-heading-s text-medium-grey"><%= list.name %></h3>
  </div>

  <div
    id="<%= dom_id(list) %>_content"
    class="flex flex-col gap-5 shrink-0 grow">
    <%= render list.tasks.sort_by { |task| task[:list_order] } %>
  </div>
</div>