<div
  id="<%= dom_id(task) %>"
  data-reorder-path="<%= reorder_task_path(task) %>"
  data-lists-target="task"
  class="px-4 py-6 bg-white rounded-lg group/task hover:cursor-pointer dark:dark:bg-dark-grey drop-shadow-md"
>
  <%= link_to board_path(task.list.board, task: task.id), data: { turbo_frame: 'modal', turbo_action: 'replace' }, class: 'flex flex-col gap-2' do %>
    <h4 class="group-hover/task:text-main-purple text-heading-m dark:text-white"><%= task.title %></h4>
    <p class="text-body-m text-medium-grey">
      <%= task.subtasks.select { |subtask| subtask.is_completed == true }.count %>
      of  <%= task.subtasks.size %> subtasks</p>
  <% end %>
</div>