<div
  id="<%= dom_id(task) %>"
  data-reorder-path="<%= reorder_task_path(task) %>"
  data-lists-target="task"
  class="group/task hover:cursor-pointer rounded-lg bg-white dark:dark:bg-dark-grey px-4 py-6 drop-shadow-md"
>
  <%= link_to task, data: { turbo_frame: "modal" }, class: 'flex flex-col gap-2' do %>
    <h4 class="group-hover/task:text-main-purple text-heading-m dark:text-white"><%= task.title %></h4>
    <p class="text-body-m text-medium-grey">
      <%= task.subtasks.select { |subtask| subtask.is_completed == true }.count %>
      of  <%= task.subtasks.size %> subtasks</p>
  <% end %>
</div>