<% provide :page_title, @board.name %>

<%= render partial: 'shared/topbar' %>
<div class="px-4 overflow-auto grow shrink-0 basis-0 md:px-6 xl:px-8">
  <% if @board.lists.any? %>
    <div
      data-controller="lists"
      class="flex min-h-full gap-6 py-6"
    >
      <%= render @board.lists %>

      <div class="flex shrink-0 flex-col pt-10 pr-4 basis-[280px]">
        <%= link_to '+ New List', edit_board_path(@board), data: { turbo_frame: 'modal' }, class: 'flex items-center justify-center shrink-0 grow rounded-lg bg-gradient-to-b from-medium-grey/10 to-medium-grey/5 text-heading-xl text-medium-grey hover:text-main-purple' %>
      </div>
    </div>

  <% else %>

    <div class="flex flex-col items-center justify-center h-full gap-6">
      <h2 class="text-center text-heading-l text-medium-grey">
        This board is empty. Create a new column to get started.
      </h2>
      <%= link_to '+ Create New List', edit_board_path(@board), data: { turbo_frame: 'modal' }, class: 'text-center rounded-3xl px-5 text-white bg-main-purple py-3.5 text-heading-m hover:bg-main-purple-hover' %>
    </div>

  <% end %>

</div>

<% if @task.present? %>
  <% content_for :modal do %>
    <%= render template: 'tasks/show', locals: { task: @task } %>
  <% end %>

  <% if @is_modal_turbo_frame %>
    <%= render template: 'tasks/show', locals: { task: @task } %>
  <% end %>
<% end %>

